<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>30DaysChallenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>196285B21CD1AD9200C1CC06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>196285CB1CD1AD9200C1CC06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>196285D61CD1AD9200C1CC06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
